* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: #f2f7f9;
}

input,
button,
label {
	all: unset;
	cursor: pointer;
}

img {
	margin: 1rem;
	cursor: pointer;
}

.rounds label {
	font-size: 1.5rem;
	border-radius: 10px;
	padding: 0.2rem 0.5rem;
}

input[name="rounds"]:checked + label,
input[name="rounds"]:hover + label {
	background-color: white;
	color: #ffbea7;
}

.container {
	position: relative;
	margin: 1rem auto;
	width: 400px;
	background-color: #ffbea7;
	border-radius: 10px;
	padding: 1rem;
}

main {
	text-align: center;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.5fr 3fr 0.5fr 1.5fr 0.5fr;
}

.outputRounds,
.preview,
#weapons,
h4 {
	grid-column: 1/3;
}

form.rounds {
	padding: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #ffbea7;
	text-align: center;
	display: grid;
	place-content: center;
	gap: 1rem;
}
/* Global button style */
button {
	display: block;
	margin: 1rem auto;
	background-color: white;
	padding: 0.5rem 2rem;
	color: #ffbea7;
	font-weight: 600;
	font-size: 2rem;
	border-radius: 10px;
}

button.restart {
	font-size: 1rem;
	grid-column: 1/3;
	align-self: center;
}

.preview {
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr;
	height: 100%;
	align-self: start;
}

/* Output of current winner */
h5 {
	align-self: center;
	padding: 2rem 1rem;
	border-radius: 3px;
	background-color: #ff7676;
	color: white;
	box-shadow: 0 0 20px 1px rgb(218, 179, 179);
}

.outputRounds {
	display: flex;
	justify-content: space-around;
}

.userChoice,
.pcChoice {
	margin-top: 2rem;
}

p {
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 1rem;
}

a.credits {
	font-size: 0.7rem;
	color: white;
	text-decoration: none;
}

/* Pop-Up Message Styles */
.popUp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	text-align: center;
	border-radius: 10px;
	background-color: #ff7676;
	box-shadow: 0 0 10px 4px rgb(166, 135, 135);
}

.popUp button {
	font-size: 1.1rem;
	color: #ff7676;
}

.won {
	background-color: #5cc283;
}

.won button {
	color: #5cc283;
}

.tie {
	background-color: #ffbea7;
}
.tie button {
	color: #ffbea7;
}

.hidden {
	visibility: hidden;
}
